go 1.26.1

use (
	./account-service
	./api-gateway
	./auth-service
	./card-service
	./client-service
	./contract
	./credit-service
	./notification-service
	./test-app
	./transaction-service
	./user-service
)
